<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <php>
        <ini name="short_open_tag" value="On"/>
    </php>
    <testsuites>
        <testsuite name="Community Applications Tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">source/community.applications/usr/local/emhttp/plugins/community.applications/include</directory>
        </include>
    </source>
</phpunit>
